body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f8f8f8;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

#OldPage {
    font-size: 40px;
    color: #333;
    text-decoration: none;
    margin-right: auto;
    font-weight: bolder;

}

body.dark-theme {
    background-color: #333;
    color: #ec0a0a;
}
body.dark-theme a {
    color: #fff;
}
body.dark-theme nav ul {
    background-color: #222;
}


nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

section {
    padding: 60px 0;
    text-align: center;
}

#home {
    background: #f8f8f8;
    background-image: url(sunsetBg.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    flex-direction: column;
    justify-content: flex-end;
    align-content: center;
    padding-bottom: 20px;
    font-size: 30px;
}
#about .about-image {
    width: auto; 
    height: 50vh; 
    max-height: 100%; 
}

#about {
    background: #eee;
    height: auto;
    overflow: hidden;
}
.media-container {
    width: 100%;
    max-width: 640px; 
    margin: 20px auto; 
    padding: 10px;
    background-color: #eae2e2;
    border: 1px solid #ccc;
}

 video {
    width: 100%; 
    height: auto; 
}
audio {
    width: 100%; 
    height: auto; 
}
#work {
    background: #ddd;
    height: auto;
    overflow: hidden;
}
#contact {
    background: #eee;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    min-height: 100vh; 
    padding: 20px; 
    box-sizing: border-box;
}

form {
    width: 100%; 
    max-width: 600px; 
    margin: 0;
    padding: 20px;
    background-color: #fff; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
    box-sizing: border-box; 
}

footer {
    background-color: rgb(11, 11, 11); 
    text-align: center;
    color: #f7f9fb;
    padding: 10px;
}